body{
 background-color: #fff;
 overflow-x: hidden;
 font-family: 'roboto', sans-serif;
 padding:2px;


}
.strip{
    height: 10px;
    background-color: rgb(251, 90,3)
}
header{
    height: 80px;
    background-color: rgb(57, 12, 12);
    line-height:400%;
    padding: 10px;
    
    
}
.container{
    margin: 0 auto;
    width:1000px;
    background-color: black;
}
a{
    color:#fff;
    text-decoration: none;
    margin:10px;
    float: right;
}
a:active{
    color:rgb(251, 90,3);
}

a:hover{
    color:rgb(251, 90,3);
}


img{
    opacity: 0.8;
}


h1{
    color: rgb(251, 90,3);
}


#about{
    widows: 100%;
    min-height: 500px;
    padding: 20px;
    margin-bottom: 10px;
}
.content{
    width:40%;
    padding:10px;
    color: darkslategrey;
    line-height: 1.5em;
    font-size: 16px;
    text-align: justify;
    float: left;
    margin-left:60px ;
}
#animals{
    widows: 100%;
    min-height: 500px;
    padding: 10px;
    margin-bottom: 10px;
}

#services{
    /* background-image: url(black.png); */
    background-size:cover;
    background-repeat: no-repeat;
    widows: 100%;
    min-height: 400px;
    padding: 20px;
    margin-bottom: 10px;
}
label{
    color:rgb(251, 90,3);
    /* margin-right:20px; */
    
}



footer{
    height: 100px;
    padding: 20px;
    background-color:rgb(251, 90,3);
    text-align:center;
    color:#fff;
}
hr{
    width:40%;
    margin: 0 auto;
}
i{
    margin:20px;
    width:25px;
    height: 25px;
    padding: 10px 5px 0px 5px;
    background-color: rgb(57, 12, 12);
    border-radius: 50%;
}
#arrow{
    color:rgb(251, 90,3);
    width: 45px;
    height: 45px;
    border-radius:50%;
    line-height: 150%;
    font-size: 30px;
    background-color:rgba(0,0,0,0.3);
    position:fixed;
    bottom:50px;
    right:10px;
}
input{
    /* margin-left:20px; */
    width:40%;
    border-style: none;
    border:none;
    border: 1px solid rgb(251, 90,3);
    padding: 5px;
    border-radius: 8px;
    background-color: transparent;

}
